@model Forno.Models.AppUser
@section css{
    <link href="~/Content/css/login.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Register";
}

<main>
    @using (Html.BeginForm("Create", "AppUsers", FormMethod.Post, new { @class = "login-box" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="text-center">Register</h3>

        <div class="input_box">
            @Html.TextBoxFor(m => m.Username, new { @class = "input-field", type = "text", id = "username", required = "required" })
            <label for="username" class="label">Username</label>
            <i class="bx bx-user icon"></i>
            @Html.ValidationMessageFor(m => m.Username)
        </div>

        <div class="input_box">
            @Html.PasswordFor(m => m.Password, new { @class = "input-field", id = "password", required = "required" })
            <label for="password" class="label">Password</label>
            <i class="bx bx-lock-alt icon"></i>
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="input_box">
            @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "input-field", type = "text", id = "address", required = "required" })
            <label for="address" class="label">Shipping Address</label>
            <i class="bx bx-envelope icon"></i>
            @Html.ValidationMessageFor(m => m.ShippingAddress)
        </div>

        <div class="input_box">
            @Html.TextBoxFor(m => m.Note, new { @class = "input-field", type = "text", id = "note", required = "required" })
            <label for="note" class="label">Note</label>
            <i class="bx bx-note icon"></i>
            @Html.ValidationMessageFor(m => m.Note)
        </div>

        <div class="input_box">
            <input type="submit" class="input-submit" value="Register">
        </div>

        <div class="login">
            <span>Already have an account? @Html.ActionLink("Login", "Login", "Account")</span>
        </div>
    }
</main>