@model Forno.Models.AppUser
@section css {
    <link href="~/Content/css/profile.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Profile";
}

<div class="view-container">
    <div class="card">
        <div class="user-number">@Html.DisplayFor(model => model.AppUserID) </div>
        <div class="card__img"><!-- Immagine o SVG può andare qui --></div>
        <div class="card__avatar"><!-- Avatar o SVG può andare qui --></div>
        <div class="card__title">@Html.DisplayFor(model => model.Username)</div>
        <div class="card__info">
            <p>Indirizzo di Spedizione: @Html.DisplayFor(model => model.ShippingAddress)</p>
            <p>Note: @Html.DisplayFor(model => model.Note)</p>
        </div>
        <div class="card__wrapper mb-3">
            <a href="@Url.Action("Edit", new { id = Model.AppUserID })" class="card__btn">Edit</a>

            @if(User.IsInRole("Utente"))
            {
                <a href="@Url.Action("Index", "Products", new { id = Model.AppUserID })" class="card__btn card__btn-solid">Back To shop</a>
            }

            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Index")" class="card__btn card__btn-solid">Back to list</a>
            }
        </div>
    </div>
</div>
