@model IEnumerable<Forno.Models.AppUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AppUserID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AppUserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AppUserID })
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("ChangeRole", "ChangeRole", new { id = item.AppUserID }, new { @class = "btn btn-warning btn-sm", onclick = "return confirm('Sei sicuro di voler cambiare il ruolo di questo utente?');" })
                    }
                </td>
            </tr>
        }

    </table>
