@model Forno.Models.Orderr
@section css{
    <link href="~/Content/css/details-order.css" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="my-container mt-4">
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Username:</div>
        <div class="col-sm-9">@Html.DisplayFor(model => model.AppUser.Username)</div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Order Date:</div>
        <div class="col-sm-9">@Html.DisplayFor(model => model.OrderDate)</div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Status:</div>
        <div class="col-sm-9">@Html.DisplayFor(model => model.Status)</div>
    </div>

    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">Total Price:</div>
        <div class="col-sm-9">@Html.DisplayFor(model => model.TotalPrice)</div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-3 font-weight-bold">Products:</div>
        <div class="col-sm-9">
            <ul class="list-unstyled">
                @foreach (var detail in Model.OrderDetail)
                {
                    <li class="my-li">@detail.Product.Name - Qty: @detail.Quantity - Price: @detail.Product.Price</li>
                }
            </ul>
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="row mb-2">
            <div class="col">
                @Html.ActionLink("Delete", "Delete", new { id = Model.OrderID }, new { @class = "btn btn-danger btn-sm" })
            </div>
        </div>
    }

    <div class="row">
        <div class="col">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-sm" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
