@model List<Forno.Models.CartViewModel>

@{
    ViewBag.Title = "Il Mio Carrello";
}

<h2>Il Mio Carrello</h2>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <!-- Aggiunta classe per rendere la tabella responsive -->
        <table class="table table-striped">
            <!-- Aggiunta classe per alternare lo stile delle righe -->
            <thead class="thead-dark">
                <tr>
                    <th>Prodotto</th>
                    <th>Quantità</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                @using (Html.BeginForm("IncreaseProductQuantity", "Orderrs", new { orderDetailId = item.OrderDetailID }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-info btn-sm">+</button>
                                }
                                @using (Html.BeginForm("DecreaseProductQuantity", "Orderrs", new { orderDetailId = item.OrderDetailID }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-info btn-sm">-</button>
                                }
                                @using (Html.BeginForm("RemoveFromCart", "Orderrs", new { orderDetailId = item.OrderDetailID }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Rimuovi</button>
                                }
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    using (Html.BeginForm("EmptyCart", "Orderrs", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-warning">Svuota Carrello</button>
    }



    <div class="text-right mt-3">
        <button id="checkout-button" class="btn btn-success" data-url="@Url.Action("Checkout", "Orderrs")">Procedi al Checkout</button>
        @Html.AntiForgeryToken()
    </div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="alert alert-warning" role="alert" style="max-width: 500px;">
            Your cart is empty. Start shopping now!
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkout-button').click(function () {
                var token = $('input[name="__RequestVerificationToken"]').val(); // Assicurati che questo selettore corrisponda effettivamente a un input nel tuo form
                console.log('Procedi al checkout');
                $.ajax({
                    url: $(this).data('url'), // Assicurati che questo sia il modo corretto per recuperare l'URL dall'attributo data-url del pulsante
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token // Includi il token come parte dei dati del form
                    },
                    success: function (result) {
                        if (result.Success) {
                            var orderConfirmationUrl = '/Orderrs/OrderConfirmation?orderId=' + result.OrderId;
                            window.location.href = orderConfirmationUrl;
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.log(error, 'Errore durante il checkout');
                    }
                });
            });
        });
    </script>
}
