@model Forno.Models.ProductDetailsViewModel
s
@{
    ViewBag.Title = "Details";
}

<style>
    body{
     background-image: url(/Content/Images/@Model.Product.ImageUrl);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
    }

    .container.my{
        height: 86.5vh;
    }

</style>

<div class="container my">
    <div class="row">
        <!-- Colonna sinistra: Lista dei prodotti -->
        <h1 class="display-1 fw-semibold text-success">@Model.Product.Name</h1>

        <div class="col-md-4">
            <div class="list-group">
                @foreach (var product in ViewBag.AllProducts as IEnumerable<Forno.Models.Product>)
                {
                    <a href="@Url.Action("Details", "Products", new { id = product.ProductID })" class="list-group-item list-group-item-action">
                        @product.Name
                    </a>
                }
            </div>
        </div>

        <!-- Colonna centrale: Dettagli del prodotto selezionato -->
        <div class="col-md-4">
            <div class="card mb-3">
                @*<img src="@Model.Product.ImageUrl" class="card-img-top img-fluid details-img" alt="Immagine del prodotto">*@
                <div class="card-body">
                    <p class="card-text">Prezzo: @Model.Product.Price €</p>
                    <p class="card-text">Tempo di consegna: @Model.Product.DeliveryTime</p>
                    <h6>Ingredienti:</h6>
                    <ul>
                        @foreach (var ingredient in Model.Product.Ingredient)
                        {
                            <li>@ingredient.Name</li>
                        }
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <button class="btn btn-sm btn-outline-success add-to-cart-btn" data-bs-toggle="modal" data-product-id="@Model.Product.ProductID" data-product-name="@Model.Product.Name">Personalizza</button>

                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Account", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-sm btn-outline-success" })
                            @Html.ActionLink("Register", "Create", "AppUsers", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-sm btn-outline-success" })
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Product.ProductID }, new { @class = "btn btn-sm btn-outline-secondary" })
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Product.ProductID }, new { @class = "btn btn-sm btn-outline-danger" })
                        }
                        <a href="@Url.Action("Index", "Products")" class="btn btn-sm btn-outline-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Colonna destra: Contenuti aggiuntivi per l'utente -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Suggerimenti per te
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Prova la nuova pizza del mese!</li>
                    <li class="list-group-item">Scopri gli sconti esclusivi</li>
                    <li class="list-group-item">Iscriviti alla nostra newsletter</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modale di personalizzazione -->
<div class="modal fade" id="customizeProductModal" tabindex="-1" aria-labelledby="customizeProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customizeProductModalLabel">Personalizza il prodotto</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- I contenuti vengono caricati qui via AJAX -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
