@model Forno.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="card-img" alt="Immagine del prodotto">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text"><small class="text-muted">Prezzo: @Model.Price</small></p>
                <p class="card-text"><small class="text-muted">Tempo di consegna: @Model.DeliveryTime</small></p>
                <h6>Ingredienti:</h6>
                <ul>
                    @foreach (var ingredient in Model.Ingredient)
                    {
                        <li>@ingredient.Name</li>
                    }
                </ul>
                <a href="@Url.Action("Edit", "Products", new { id = Model.ProductID })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Index", "Products")" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
