@model Forno.Models.Product

@{
    ViewBag.Title = "Edit Product";

    <style>
        body {
            height: calc(100vh - 40px);
            margin: 0;
        }
    </style>
}

<h2>Edit Product</h2>

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryTime)
        @Html.EditorFor(model => model.DeliveryTime)
        @Html.ValidationMessageFor(model => model.DeliveryTime)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageUrl)
        <input type="file" name="ImageUpload" />
    </div>

    <!--  Ingredients -->
    <div class="form-group">
        @Html.Label("Available Ingredients", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBox("AvailableIngredients", ViewBag.IngredientID as MultiSelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" id="btnAddIngredient" class="btn btn-success">Add Ingredient</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <ul id="selectedIngredients" class="list-unstyled">
                <!-- Ingredients will be listed here -->
            </ul>
        </div>
    </div>

    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>*@
    <button type="submit" class="btn btn-primary">Save</button>
}


<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
    // Inizializza la lista degli ingredienti selezionati quando si carica la pagina.
    var selectedIngredientIDs = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SelectedIngredientIDs));
    var allIngredients = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AllIngredients));

    // Funzione per aggiungere un ingrediente alla lista visiva e un input nascosto al form.
    function addIngredientToList(value, text) {
        // Verifica se l'ingrediente è già stato aggiunto per evitare duplicati.
        if ($('#selectedIngredients input[value="' + value + '"]').length == 0) {
            var listItem = $('<li>')
                .text(text)
                .attr('data-id', value);

            var removeBtn = $('<button>')
                .text('Remove')
                .addClass('btn btn-danger btn-sm')
                .click(function () {
                    $(this).parent().remove();
                    $('input[name="SelectedIngredientIDs"][value="' + value + '"]').remove();
                });

            listItem.append(removeBtn);

            var hiddenInput = $('<input>')
                .attr({
                    type: 'hidden',
                    name: 'SelectedIngredientIDs',
                    value: value
                });

            $('#selectedIngredients').append(listItem);
            $('#selectedIngredients').append(hiddenInput);
        }
    }

    // Carica gli ingredienti già selezionati quando si carica la pagina.
    $.each(selectedIngredientIDs, function(i, id) {
        var ingredient = allIngredients.find(x => x.Value == id);
        if (ingredient) {
            addIngredientToList(ingredient.Value, ingredient.Text);
        }
    });

    // Gestore per il click del bottone 'Add Ingredient'.
    $('#btnAddIngredient').click(function () {
        $('#AvailableIngredients option:selected').each(function () {
            addIngredientToList($(this).val(), $(this).text());
        });
    });
});
    </script>
}
